<style>
*{
margin:29 59;
//border:5px solid;
background:#085328
}
&{
border:solid#8CB457;
box-shadow:
0 0 0 2in inset #8CB457,
0 0 0 2in #085328;
margin:30 50;
*{
color:#085328;
box-shadow:210px 0,-210px 0;



<style>
*{
margin:30 60;
background:#085328
}
&{
box-shadow:
0 0 0 2in inset #8CB457,
0 0 0 2in #085328;
margin:30 50;
*{
color:#085328;
box-shadow:210px 0,-210px 0;


<style>
*{*{
margin:60 110;
color:#085328;
box-shadow:
210px 0,-210px 0,
0 0 0 2in inset,
30px 0 0 30px#8CB457,-30px 0 0 30px#8CB457,0 0 0 2in

<style>&{margin:15%110;color:085328;box-shadow:222q 0,-222q 0,0 2in inset,32q 0 0 32q#8CB457,-32q 0 0 32q#8CB457,0 0 0 2in

// 135 ch
<style>*{color:8CB457;margin:75-60;box-shadow:0-105px,0 105px}&{margin:60 110;box-shadow:0 2in inset#085328,0 0 0 30px,0 0 0 2in#085328