//code
&{
background:radial-gradient(circle at 250px 250px,
#4#48BF7D 250px,#32295A 0);
border:solid#32295A;border-width:0 30 30 0
// another solution 
&{
border-radius:50%;
margin:0 -100 -200 0;
box-shadow:0 0 0 2in#32295A;
*{
box-shadow:-30px -30px inset#32295A;
margin:0 100 200 0;
background:#48BF7D
// shorter solution
<style>
&{border-radius:50%;margin:0-25%-50%0;box-shadow:0 0 0 2in#32295A,inset 0 9in#48BF7D;
*{box-shadow:-30px -30px inset#32295A;margin:0 20%40%0