<p><style>
*{
border:10px solid;
background:#ADB274;
margin:30 270 30 -10
}
p{
color:#555A2A;
margin:195 -110 -50 170;
box-shadow:30px 0,-30px 0,165px -230px,-165px -230px
}
&{
margin:0;
color:#FDFFE9;
border:20px solid ;
background:linear-gradient(
#ADB274 30px,#FDFFE9 0,#FDFFE9 40px,#ADB274 0,#ADB274 80px,#FDFFE9 0, #FDFFE9 90px,#ADB274 0,#ADB274 150px,#FDFFE9 0,#FDFFE9 160px,#ADB274 0,#ADB274 220px,#FDFFE9 0,#FDFFE9 230px,#ADB274 0