<style>
*{
background:radial-gradient(circle at 50%50%,#CF6939 15px,#F8B140 0,#F8B140 45px,#2F434E 0,#2F434E 75px,#CF6939 0,#CF6939 105px, #F8B140 0);
margin:0 150
}
body{
color:F8B140;
border:20px solid;
margin:10 -10;
box-shadow:200px 0,-200px 0