// 185 unsorted solution 
<style>
&{
background:#F7BED9;
border:40px dotted #F069AB;
margin:100 150 100 30;
*{
color:#EC0076;
margin:-80 20 60;
border-radius:1in;
box-shadow:0 40px,0 100px,180px 40px,180px 100px

// 172 unsorted solution 
<style>
*{
color:EC0076;
margin:0 -120 0 60;
border-radius:1in;
box-shadow:0 40px,0 100px,180px 40px,180px 100px
}
&{
color:F069AB;
background:#F7BED9;
margin:60 330 200 30
