//top solutions

// 1
<STYLE>*{margin:30%115 40;border:5ch solid#FFF;*{background:#7AA70A;margin:-120-40 60;border-width:40 0 0 40;--r:5ch 5ch 32q;box-shadow:-1in 60px#7AA70A}border-radius:5ch var(--r,74q 74q 5ch

//2
<p><p><style>*{background:#7AA70A;p{margin:40 107-80;height:40;border-radius:5ch 42q 0 1.7lh;border:solid 43q#fff;clip-path:polygon(0%0,5e4%0,60%42q,50%4e5%);+*{scale:-1;height:60;font:30q/43q'
