// 190 ch 
<style>
*{
background:#504B72
}
&{
color:FFFBCC;
margin:120 40;
box-shadow:0 80px,0-80px,0 0 0 2in#504B72,0 80px inset;
*{
margin:0 100;
box-shadow:0 20px,0 80px#504B72,
0-20px,0-80px#504B72

// 200 ch
<style>
&{
margin:120 140;
color:FFFBCC;
background:#504B72;
box-shadow:
0 80px#504B72,0 -80px#504B72,
-100px 0,-100px -80px,-100px 80px,
100px 0,100px -80px,100px 80px,
0 -20px,0 20px;
