//top 1 
 <style>*{background:#ceedff;box-shadow:0-5pc#05476c,0 2in 0 26q#2bbbf3;margin:422-25-420}&{border-radius:9in;margin:-58%50 127

// top 10
 <style>*{margin:238-25-18;background:#05476C;color:CEEDFF;box-shadow:0 94q 0 27q}&{margin:-32%50 32%;background:#1AF3;border-radius:9in;color:2BBBF2