// top 1: 162 ch
.<p> <stylE>&{box-shadow:0 5ch}*{margin:70 120;color:#9382E4;border-inline:solid 5ch;*{background:#B6EBE7;margin:0-135;*{color:5F2BB7;margin:8%-40 0;font:3lh/5pc'

// top 10: 176 ch
.<p><stYle>*{background:#b6ebe7;color:#9382e4;border-inline:5ch solid;margin:70 25;*+*{margin:0 55-22;box-shadow:0 5ch;*{border-inline:143Q solid#5e2bb7;height:80;margin:22-135