// 270 ch
<p><h1><style>
body{
margin:-70 -10 140;
}
&{
margin:110 60 -100 60;
box-shadow:0 2in inset#CF6939,0 0 0 2in#D2F8FF;
border-radius:2in;
body{
border:10px solid;
box-shadow:0 0 0 2in#FEFF58}
p,h1{
background:#000;
width:10;
height:200;
margin:0 135
}
h1{
height:10;
width:280;
margin:-105 0 
