<style>
&{
border-style:solid;
border-color:0 #F4DA64 0#E25C57;
border-width:0 110px;
border-radius:2in 2in 0 0;
margin:43 90;
box-shadow:0 0 0 2in#3F4869;
*{
color:#E25C57;
margin:63 -20;
box-shadow:0 111px#3F4869,
82px 55px 0 8px,-83px 55px 0 8px#F4DA64
